*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000;
}

.restaurant-list {
  padding-top: 50px;
  width: 100%;
}

.content, .arrow{
  /*background-color: #EEE;*/
  display: inline-block;
  float: left;
}

.content {
  width: 90%;
  padding: 3% 5%;
}

.arrow{
  width: 10%;
  line-height: 70px;
  /*padding: 24px 0% 24px 2%;*/
}

.location:hover{
  background-color: #BBB;

}
.location{
  overflow: hidden;
  background-color: #EEE;
  margin-bottom: 1px;
}

.content h1{
  width: 100%;
  font-size: 2em;
  line-height: 1.5em;
  display: inline-block;
}
.content h3{
  width: 100%;
  font-size: 1.3em;
  display:inline-block;
}
